
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
   

     setTimeout(regresar(), 5000);
       
    


    function regresar()
    {
        //alert("vamosa a regresar");
        window.history.back();
    }

</script>

    

<h2>Delete</h2>

<h4>Registro Eliminado</h4>
