@using MudulProject.Models
@{
    ViewBag.Title = "Adicionar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var List1 = ViewData["clases"] as List<Asignaturas1>;
    var idMatricula = ViewData["idMatricula"];
    var cuenta = ViewData["cuenta"];
}

<h2>Adicionar</h2>

<script>

    function adicionar(idClase,idMatricula,cuenta)
    {


        var r = confirm("Desea Cancelar la Clase");
        if (r == true) {
            window.location.href = "/ClasesMatriculadas/Adicionar?idClase=" + idClase + "&idMatricula="+ idMatricula+"&cuenta="+cuenta;
        }
        


    }


</script>




<h2>Matricula : @idMatricula</h2>

<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            Descripcion
        </th>
    </tr>

    @foreach (var item in List1)
    {
        <tr>

            <td>
                @item.Id
            </td>
            <td>
                @item.Descripcion
            </td>

            <td>
                <a href="#" onclick="adicionar(@item.Id,@idMatricula,@cuenta);" class="btn btn-success btn-sm">
                    <span class="glyphicon glyphicon-ok aria-hidden=" true"></span>
                </a>

            </td>
        </tr>
    }

</table>