@{
    ViewBag.Title = "Home Page";
}
<style>
    button {
        background: transparent;
        border: none;
         width: 100%; 
  margin: 0 auto; 
    }
  
     button img:active {
         opacity: 0.5;
    }
</style>
<div class="jumbotron">
    <h1><center>Aula Virtual "MUDUL"</center></h1>    
</div>

<div class="row">
    <div class="col-md-4">
        <button>
            <img src="http://icons.iconarchive.com/icons/graphicloads/100-flat-2/256/addressbook-grey-icon.png" />
            <h3>Revisar Calificaciones</h3>
        </button>
    </div>
    <div class="col-md-4">
        <button>
            <img src="http://icons.iconarchive.com/icons/graphicloads/100-flat-2/256/pen-icon.png"/>
            <h3>Revisar Clase</h3>
            </button>
</div>
    <div class="col-md-4">
        <button>
            <img src="http://icons.iconarchive.com/icons/graphicloads/100-flat-2/256/arrow-next-2-icon.png"/>
            <h3>Revisar Fechas</h3>
            </button>
</div>
</div>