@using System.Data; 
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Calificaciones";
}
<h1>Calificaciones de Alumnos</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                @foreach (DataColumn col in ViewBag.Tabla.Columns)
                {
                    <th>@col.ColumnName</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in ViewBag.Tabla.Rows)
            {
                <tr>
                    @foreach (DataColumn col in ViewBag.Tabla.Columns)
                    {
                        if (col.ColumnName == "Hora Subida")
                        {
                            <td>@ViewBag.Formatear(row.Field<DateTime?>("Hora Subida"))</td>
                        }
                        else
                        {
                            <td>@row[col.ColumnName]</td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
    @Html.ActionLink("Regresar", "Index")
</div>