
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<form>

    <div class="col-sm-6 col-sm-offset-3">
        <div class="jumbotron" >
            <div class="container">
                <div class="form-group">
                    <label for="exampleInputFile">Seleccione un Archivo</label>
                    <input type="file" id="exampleInputFile" >
                </div>
                <button type="submit" class="btn btn-primary col-sm-offset-5" >Subir</button>
            </div>
        </div>
    </div>

</form>