@{
    ViewBag.Title = "Acerca";
    ViewBag.Message = "Esta es la información de nuestro sistema";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Este es un sistema mezclando un sistema de Registro con un Sistema de Aula Virtual</p>
