@{
    ViewBag.Title = "Contactanos";
    ViewBag.Message = "Puede contactarse con nosotros a travez de los siguientes datos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One CEUTEC<br />
    Honduras, SPS 9680-7053<br />
    <abbr title="Phone">P:</abbr>
    555.555.5555
</address>

<address>
    <strong>Support:</strong>   <a href="www.hotmail.com">carlos.bennett@unitec.ed</a><br />
    <strong>Marketing:</strong> <a href="www.hotmail.com">robertopro2010@unitec.edu</a>
</address>