
@{
    ViewBag.Title = "actividad";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var estadoArchivo = ViewData["estadoArchivo"];
    var nombreArchivo = ViewData["nombreArchivo"];
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>

    function descargar()
    {

        alert("vamos a descargar");

        document.location = '/Images/@nombreArchivo';
        

    }

</script>

@if (estadoArchivo == "1")
{
    <h2>Archivo Guardado</h2>
     <a href="#" onclick="descargar()">@nombreArchivo</a>
}
else
{
    <h2>El Archivo no se Guardado</h2>
    
   
}


    