
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = ViewData["idActividad"];
}

<h2>Index</h2>

<!--form method="post" action="SubirArchivo/SubirArchivo">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="jumbotron">
            <div class="container">
                <div class="form-group">
                    <label for="archivo">Seleccione un Archivo</label>
                    <input type="file" id="archivo">
                </div>
                <button type="submit" class="btn btn-primary col-sm-offset-5">Subir</button>
            </div>
        </div>
    </div>
</form-->

@using (Html.BeginForm("SubirArchivo", "SubirArchivo", FormMethod.Post, new { enctype = "multipart/form-data" }))
{ 
    <input type="file" name="file" /> <input type="submit" name="Submit" id="Submit" value="Upload" /> 
    <input hidden name="id" value="@id">
}