
@using MudulProject.Models;
@{
    
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var List1 = ViewData["matriculas"] as List<_matriculas>;
}

<h2>Matriculas</h2>

<script>


    function buscar()
    {
        var cuenta = document.getElementById("cuenta").value;
        window.location.href = "/Matriculados/Matriculados/" + cuenta;
    }

</script>

<div class="row clearfix">
    <div class="col-md-6 col-md-offset-3">

        <div class="jumbotron">


            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="form-group">
                        <label for="cuenta">Cuenta:</label>
                        <input type="text" id="cuenta" class="form-control text-success" />
                        
                    </div>
                    <button class="btn btn-lg btn-warning col-lg-offset-4" onclick="buscar();">Buscar</button>
                </div>

            </div>


        </div>


    </div>
</div>

